<template>
  <div class="hello">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <div
            v-for="item in sliceItems(1, 2)"
            class="card accordion-button text-start nopadding"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="row g-0">
              <div class="col-md-2">
                <div class="icon-doc">
                  <i
                    class="icon-doc mdi mdi-file-document-outline"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show text-start"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="row g-0">
            <div v-for="subitem in subosf" class="col-md-6">
              <router-link
                :to="{
                  name: 'ProductDetail',
                  params: { id: subitem.name },
                }"
              >
                <div class="card">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <div class="icon-doc text-center">
                        <i
                          class="icon-doc mdi mdi-file-document-outline"
                          aria-hidden="true"
                        ></i>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ subitem.name }}</h5>
                        <p class="card-text">
                          This is a wider card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "OsfList",
  data() {
    return {
      items: [],
      subosf: [],
    };
  },
  methods: {
    async itemList() {
      await axios("json/main.json").then((res) => {
        console.log(res);
        this.items = res.data.contents;
      });
    },
    async SubOsf() {
      await axios("json/osf/osf.json").then((res) => {
        console.log(res);
        this.subosf = res.data.contents;
      });
    },
    sliceItems(start, end) {
      return this.items.slice(start, end);
    },
  },
  created() {
    this.itemList();
    this.SubOsf();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center {
  margin: auto;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.icon-doc {
  font-size: 100px;
  color: rgb(255, 96, 96);
}

.mdi {
  -webkit-text-stroke: 4px white;
  -webkit-text-stroke-width: 0%;
}

.accordion-button {
  padding: 5px !important;
}
</style>
