@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$gray-1: #455a64;
$gray-2: #c6c6c6;
$gray-3: #eee;
$blue-1: #02a8f3;
$blue-2: #409eff;
$red-1: #e57373;
$white-1: #fff;
$black-1: #27292d;
$disabled: #f5f7fa;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: $gray-1;
}

.login-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 5em 1em;
}

.login-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.login-box {
  width: 35%;
  padding: 0 5px;

  &--link {
    display: flex;
    justify-content: center;
  }

  &--logo {
    width: 8em;
  }

  .login-box-card {
    position: relative;
    margin: 1em auto 0;
    padding: 1em 1em 1em 2.5em;
    border: 1px solid $gray-3;
    border-radius: 5px;
    text-align: center;

    &--title {
      color: $blue-1;
      margin-bottom: 1.1em;
    }
  }
}

.form-input {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;

  .field-label {
    line-height: 25px;
    margin-bottom: 4px;
    font-size: 16px;
    color: $gray-1;
    white-space: nowrap;
    text-align: left;
    }

  .field-input {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }
}

::-webkit-input-placeholder {
  color:#b3b3b4;
}

::-moz-placeholder {
  color:#b3b3b4;
}

::-ms-placeholder {
  color:#b3b3b4;
}

::placeholder {
  color:#b3b3b4;
}

.invalid-input {
  .field-input {
    border-color: red !important;
  }

  &__text {
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    color: red;
    white-space: nowrap;

    img {
      margin-right: 4px;
    }

    span {
      overflow: hidden;
      word-wrap: break-word;
    }
  }
}

.login-bg {
  position: relative;
}

.login-bg img {
  width: 80%;
}

.login-footer {
  position: fixed;
  bottom: 2em;
  // left: 50%;
  margin: 0 auto;
  text-align: center;
}


@media (min-width: 992px) {
  .login {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-1.png"),linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
    background-repeat: no-repeat;
    background-position: 100%;
  }
}



