@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$gray-1: #455a64;
$gray-2: #c6c6c6;
$gray-3: #eee;
$blue-1: #02a8f3;
$blue-2: #409eff;
$red-1: #e57373;
$white-1: #fff;
$black-1: #27292d;
$disabled: #f5f7fa;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: $gray-1;
}

.login-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 5em 1em;
}

.login-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.login-box {
  width: 35%;
  padding: 0 5px;
  position: relative;

  .login-box-logo {
    width: 100%;
    text-align: center;
    margin-left: 1em;
  }

  &--image {
    width: 8em;
  }

  .login-box-card {
    position: relative;
    margin: 1em auto 0;
    padding: 1em 1em 1em 2.5em;
    border: 1px solid $gray-3;
    border-radius: 5px;
    text-align: center;

    &--title {
      color: $blue-1;
      margin: 0.5em 0;
    }
  }

  .login-button {
    margin: 1em 0;
    min-width: 130px;
    border-radius: 4px;
    border: 0px solid transparent;
    font-size: 14px;
    text-align: center;
    background-color: $blue-2;
    color: $white-1;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.25em;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:hover {
      color: #fff;
      background-color: #a0cfff;
      border-color: #a0cfff;
    }

    &--disabled {
      cursor: not-allowed;
      color: #fff;
      background-color: #a0cfff;
      border-color: #a0cfff;
    }
  }

  .login-contact a {
    text-decoration: none;
    color: $blue-1;
  }

}

.form-input {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  .field-label {
    line-height: 25px;
    margin-bottom: 4px;
    font-size: 1em;
    color: $gray-1;
    white-space: nowrap;
    text-align: left;
    }

  .field-input {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 1em;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);

    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }
}

::-webkit-input-placeholder {
  color:#b3b3b4;
}

::-moz-placeholder {
  color:#b3b3b4;
}

::-ms-placeholder {
  color:#b3b3b4;
}

::placeholder {
  color:#b3b3b4;
}

.invalid-input {
  .field-input {
    border-color: red !important;
  }

  &__text {
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    color: red;
    white-space: nowrap;

    img {
      margin-right: 4px;
    }

    span {
      overflow: hidden;
      word-wrap: break-word;
    }
  }
}

.login-bg {
  position: relative;
}

.login-bg img {
  width: 80%;
}

.login-footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
  text-align: center;
  color: $gray-2;
  margin-left: 3.5em;
}

.map-container {
  padding: 1em;
}

.map-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;

  &--input {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 1em;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    }
}

.loader {
  margin: auto;
  position: relative;
  border: 2px solid $gray-3;
  border-radius: 50%;
  border-top: 2px solid $blue-1;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
  .login {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-1.png"),linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
    background-repeat: no-repeat;
    background-position: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .login-box {
    width: 100%;
  }
  .login-footer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .login-box {
      width: 100%;
  }
  .login-bg {
    display: none;
  }
  .login-footer {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 1em 0 0.5em 0 ;
  }
}

@media only screen and (max-width: 479px) {
  .login-container {
    padding: 1em;
  }
  .login-box {
      width: 100%;
  }
  .login-bg {
    display: none;
  }
  .login-footer {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0.5em 0 0 0 ;
    padding: 1em;
  }
}




