<template>
  <div>
    <img :src="image" class="header-image img-fluid" />
  </div>
</template>

<script>
import banner from "../assets/banner.png";
export default {
  data() {
    return {
      image: banner,
    };
  },
};
</script>

<style scoped>
.header-image {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}
</style>