<template>
  <div class="products">
    <InvoiceList />
    <OsfList />
    <SbnList />
    <ReksadanaList />
  </div>
</template>

<script>
import InvoiceList from "./Invoice/InvoiceList";
import OsfList from "./Osf/OsfList";
import SbnList from "./Sbn/SbnList";
import ReksadanaList from "./Reksadana/ReksadanaList";
export default {
  name: "ItemList",
  components: {
    InvoiceList,
    OsfList,
    SbnList,
    ReksadanaList,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center {
  margin: auto;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.icon-doc {
  font-size: 100px;
  color: rgb(255, 96, 96);
}

.mdi {
  -webkit-text-stroke: 4px white;
  -webkit-text-stroke-width: 0%;
}

.accordion-button {
  padding: 5px !important;
}
</style>
