<template>
  <div>
    <h2 class="mb-5">{{ id }}</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input
            v-model="searchQuery"
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
      <div class="col-md-2">
        <select
          v-model="selected"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Select Category</option>
          <option v-for="cat in filteradtype" :key="index" :value="cat.grade">
            {{ cat.grade }}
          </option>
        </select>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Tenor</th>
          <th scope="col">Grade</th>
          <th scope="col">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(result, index) in resultQuery" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ result.name }}</td>
          <td>{{ result.amount }}</td>
          <td v-if="result.tenor">{{ result.tenor }}</td>
          <td v-if="result.return">{{ result.return }}</td>
          <td>{{ result.grade ? result.grade : result.type }}</td>
          <td>{{ result.rate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import uniq from "lodash/uniqBy";
export default {
  props: ["id"],
  data() {
    return {
      results: [],
      // category: ["A", "B+", "B", "C"],
      searchQuery: "",
      selected: [],
    };
  },
  computed: {
    resultQuery() {
      if (this.searchQuery) {
        return this.results.filter((item) => {
          return this.searchQuery
            .toLowerCase()
            .split(" ")
            .every((v) => item.name.toLowerCase().includes(v));
        });
      } else {
        return this.results;
      }
    },
    filteradtype() {
      return uniq(this.results, function (u) {
        return u.grade;
      });
    },
  },
  methods: {
    async getInvConventional() {
      await axios("/json/invoice/conventional_invoice.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
    async getInvProductive() {
      await axios("/json/invoice/productive_invoice.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
    async getOsfConventional() {
      await axios("/json/osf/conventional_osf.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
    async getOsfProductive() {
      await axios("/json/osf/productive_osf.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
    async getSbn() {
      await axios("/json/sbn/sbn.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
    async getReksadana() {
      await axios("/json/reksadana/reksadana.json").then((res) => {
        console.log(res);
        this.results = res.data.contents;
      });
    },
  },
  created() {
    if (this.id === "Conventional Invoice") {
      this.getInvConventional();
    } else if (this.id === "Productive Invoice") {
      this.getInvProductive();
    } else if (this.id === "Conventional OSF") {
      this.getOsfConventional();
    } else if (this.id === "Productive OSF") {
      this.getOsfProductive();
    } else if (this.id === "SBN") {
      this.getSbn();
    } else if (this.id === "Reksadana") {
      this.getReksadana();
    }
  },
};
</script>

<style>
</style>