<template>
  <div class="hello">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <div
            v-for="item in sliceItems(3, 4)"
            class="card accordion-button text-start nopadding"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <router-link
              :to="{ name: 'ProductDetail', params: { id: item.name } }"
            >
              <div class="row g-0">
                <div class="col-md-2">
                  <div class="icon-doc">
                    <i
                      class="icon-doc mdi mdi-file-document-outline"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content. This content is a
                      little bit longer.
                    </p>
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </h2>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ReksadanaList",

  data() {
    return {
      items: [],
    };
  },
  methods: {
    async itemList() {
      await axios("json/main.json").then((res) => {
        console.log(res);
        this.items = res.data.contents;
      });
    },
    sliceItems(start, end) {
      return this.items.slice(start, end);
    },
  },
  created() {
    this.itemList();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center {
  margin: auto;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.icon-doc {
  font-size: 100px;
  color: rgb(255, 96, 96);
}

.mdi {
  -webkit-text-stroke: 4px white;
  -webkit-text-stroke-width: 0%;
}

.accordion-button {
  padding: 5px !important;
}
</style>
