<template>
  <div id="app">
    <div class="container">
      <Banner />
      <router-view />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from "@/components/Banner";

export default {
  components: {
    Banner,
  },
};
</script>

<style>
#app {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 50px;
}
</style>
